.home {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  h1 {
    color: rgb(0, 216, 216);
  }
  p {
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    .inputs {
      width: 100%;
      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home {
    .inner {
      width: 80%;
    }
  }
}
@media screen and (max-width: 400px) {
  .home {
    .inner {
      width: 100%;
    }
  }
}
